body{
    background-image: url("Pic.jpg") ;
    background-repeat: no-repeat;
    background-size:100%;
   color:white;

}
h1{
    padding-left: 50%;
    padding-top: 10%;
}
table{
    padding-top: 80%;
    padding-left: 45%;
    
}
a{
    color:white;
    
    padding-left: 45%;
}
div{
   
    
  
    backdrop-filter: 5px ;
}
.submit:hover{
    background-color:  rgb(160, 145, 145);
    color:white; 
}
.submit{
    border-radius:20%;

}
